<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide" src="/assets/s3.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to Expertiza</h1>
          <p>The Expertiza project is software to create reusable learning objects through peer review. It also supports team projects, and the submission of almost any document type, including URLs and wiki pages.</p>
          <p><a class="btn btn-lg btn-primary" href="http://research.csc.ncsu.edu/efg/expertiza/reports/Instructor_documentation.doc" role="button">Documentation</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="second-slide" src="/assets/s1.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Experitza for Students</h1>
          <p>To learn how to use Expertiza to review other students' work, please follow the link below.
          <p><a class="btn btn-lg btn-primary" href="https://research.csc.ncsu.edu/efg/expertiza/presentations/student_wiki_documentation.pdf" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="third-slide" src="/assets/s2.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Video Presentation</h1>
          <p>An overview of Expertiza ("Software support for teamwork and authentic assessment (slides)") from the TLT Group's Friday Live, September 24, 2010</p>
          <p><a class="btn btn-lg btn-primary" href="overview" role="button">Overview</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="/assets/wr.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Development</h2>
      <p>Expertiza now has a Java dependency, so the machine you are using to develop Expertiza on should have the JVM installed. To know more about how to setup development environment please follow the link below.</p>
      <p><a class="btn btn-default" href="#" role="button">Setup &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="/assets/dev.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Production</h2>
      <p>Once you have all your changes merged into the master branch, you will want to deploy them to production once they have been reviewed by the rest of the team. Deploying is rather simple, to learn more follow the link.</p>
      <p><a class="btn btn-default" href="#" role="button">Deploy &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="/assets/test1.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Testing</h2>
      <p>Plenty of Testing framework exist for Java. JUnit has been the de facto standard for unit testing. However, other frameworks such as TestNG, JTIGER have been built to address various faults and deficiencies with JUnit.</p>
      <p><a class="btn btn-default" href="#" role="button">Test &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

</div><!-- /.container -->


