
<div class="banner">


  <div class="wrapper">

    <ul id="sb-slider" class="sb-slider">
      <li>
        <a href="#"><img src="../../assets/images/banner1.jpg" alt="image1"/></a>
        <div class="sb-description">
          <h3>Creative Lifesaver</h3>
        </div>
      </li>
      <li>
        <a href="#"><img src="../../assets/images/banner2.jpg" alt="image2"/></a>
        <div class="sb-description">
          <h3>Honest Entertainer</h3>
        </div>
      </li>
      <li>
        <a href="#"><img src="../../assets/images/banner3.jpg" alt="image1"/></a>
        <div class="sb-description">
          <h3>Brave Astronaut</h3>
        </div>
      </li>
      <li>
        <a href="#"><img src="../../assets/images/banner4.jpg" alt="image1"/></a>
        <div class="sb-description">
          <h3>Affectionate Decision Maker</h3>
        </div>
      </li>

    </ul>

    <div id="shadow" class="shadow"></div>

    <div id="nav-arrows" class="nav-arrows">
      <a href="#">Next</a>
      <a href="#">Previous</a>
    </div>

    <div id="nav-dots" class="nav-dots">
      <span class="nav-dot-current"></span>
      <span></span>
      <span></span>
      <span></span>

    </div>
  </div>
  <!-- /wrapper -->
</div>
<!-- banner-bottom -->
<div class="banner-bottom">
  <div class="container">
    <div class="mid_agile_bannner_top_info">
      <h2>Let’s made Your own Business</h2>
      <div class="heading-underline">
        <div class="h-u1"></div>
        <div class="h-u2"></div>
        <div class="h-u3"></div>
        <div class="clearfix"></div>
      </div>
      <p>Lorem ipsum dolor sit amet, Lorem ipsum Lorem ipsum.Integer varius est vitae iaculis suscipit. Integer sed rutrum lectus.</p>
    </div>
    <div class="col-md-6 agileits_banner_bottom_left">
      <h3>welcome to <span>Treasurer</span></h3>
      <p class="w3l_para">Curabitur nec purus eget urna pulvinar placerat. Integer varius est vitae iaculis suscipit. Integer sed rutrum lectus.</p>
      <div class="w3l_social_icons">
        <div class="w3l_social_icon_grid">
          <div class="w3l_social_icon_gridl w3_facebook">
            <a href="#">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </div>
          <div class="w3l_social_icon_gridr">
            <p class="counter">23,536</p>
          </div>
          <div class="clearfix"> </div>
          <div class="w3l_social_icon_grid_pos">
            <label>-</label>
          </div>
        </div>
        <div class="w3l_social_icon_grid w3ls_social_icon_grid">
          <div class="w3l_social_icon_gridl w3_dribbble">
            <a href="#">
              <i class="fa fa-dribbble" aria-hidden="true"></i>
            </a>
          </div>
          <div class="w3l_social_icon_gridr">
            <p class="counter">13,676</p>
          </div>
          <div class="clearfix"> </div>
          <div class="w3l_social_icon_grid_pos">
            <label>-</label>
          </div>
        </div>
        <div class="w3l_social_icon_grid">
          <div class="w3l_social_icon_gridl w3_instagram">
            <a href="#">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
          <div class="w3l_social_icon_gridr">
            <p class="counter">45,342</p>
          </div>
          <div class="clearfix"> </div>
          <div class="w3l_social_icon_grid_pos">
            <label>-</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 agileits_banner_bottom_right">
      <div class="w3ls_banner_bottom_right">
        <img src="images/2.jpg" alt=" " class="img-responsive" />
        <div class="w3ls_banner_bottom_right_pos">
          <img src="images/1.jpg" alt=" " class="img-responsive" />
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //banner-bottom -->

<!-- banner-bottom-icons -->
<div class="banner-bottom-icons">
  <div class="col-md-6 w3_banner_bottom_icons_left">

    <div class="w3_agile_banner_bottom">
      <a href="#" class="hvr-rectangle-out">
        <h5 class="grow">Grow Your business</h5>
        <img src="images/banner4.jpg" alt=" " class="img-responsive hvr-radial-in" />
      </a>
    </div>
  </div>
  <div class="col-md-6 w3_banner_bottom_icons_left">
    <div class="w3_agile_banner_bottom">
      <h5 class="grow">Grow Your business</h5>
      <a href="#" class="hvr-rectangle-out"><img src="images/banner2.jpg" alt=" " class="img-responsive hvr-radial-in" /></a>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
<!-- //banner-bottom-icons -->
<div class="main-page" width="50%">
  <%#= @content_page.content_html %>
  <h1>Welcome!</h1>
  <div class="login-panel">
  <!-- This logic checking if user is logged in or not, should be done in the controller -->
  <% if not session[:user] %>
    <%= render :partial => 'auth/login' %><br/>
    <% if session[:user].nil? %>
    <% else %>
      <% if session[:user].role_id == 4 || session[:user].role_id == 3 || session[:user].role_id == 2 %>
        <%= link_to "Search log", Version %></a>
      <% end %>
    <% end %>
    <div>
    </div>
  <% end %>
  </div>

</div>